<div class="p-10 space-y-10">
    
    <div class="flex justify-center items-center" *ngIf="!data">
        <img src="../../assets/images/loader.gif" alt="An animated image">
    </div>
    <div *ngIf="data" class="overflow-x-auto relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Product name
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Color
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Category
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Price
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let item of data">
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{item.username}}
                    </th>
                    <td class="py-4 px-6">
                        {{item.email}}
                    </td>
                    <td class="py-4 px-6">
                        {{item.phone}}
                    </td>
                    <td class="py-4 px-6">
                        {{item.updatedAt}}
                    </td>
                    <td class="py-4 px-6 space-x-6">
                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="flex justify-center items-center">
            <a routerLink="/products/create">
                <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-2 rounded">
                    Add new product
                </button>
            </a>
</div>
