<!-- navbar.component.html -->

<nav class="bg-blue-500 text-white p-6 flex items-center justify-between">
    <div class="flex items-center">
        <a routerLink="/" class="text-xl">Data Table App</a>
        <div class="ml-6">
            <a routerLink="/dashboard" class="px-3 py-2 rounded-md hover:bg-blue-400">dashboard</a>
            <a routerLink="/products" class="px-3 py-2 rounded-md hover:bg-blue-400">products</a>
        </div>
    </div>
    <div>
        <button class="flex items-center rounded-md hover:bg-blue-400">
            <a routerLink="/my-cart" class="px-3 py-2 rounded-md hover:bg-blue-400"> My cart</a>
            <mat-icon style="color: white">shopping_cart</mat-icon>
        </button>
    </div>
</nav>

<router-outlet></router-outlet>