<div class="flex justify-center items-center py-20" *ngIf="!data">
    <img src="../../assets/images/loader.gif" alt="An animated image">
</div>
<div class="flex flex-wrap justify-center items-center space-x-10 space-y-10 p-10" *ngIf="data">
    <div *ngFor="let item of data">
        <mat-card class="p-[4rem] h-[30rem] w-[30rem]">
            <mat-card-header>
                <mat-card-title>{{item.productName}}</mat-card-title>
                <mat-card-subtitle>{{item.productShortCode}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src={{item.imageURL}} alt="Card Image" height="450" width="400">
            <mat-card-content>
                <p>
                    {{item.description}}
                </p>
            </mat-card-content>
            <mat-card-actions class="space-x-[10rem]">
                <a routerLink="/product/{{item._id}}">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-2 rounded">Detail</button>
                </a>
                <a routerLink="/my-cart">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-2 rounded" (click)="addToCart(item)">
                        Add to cart
                    </button>
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>