<div>
    <p class="p-10">dashboard works!</p>
    <div class="flex justify-center items-center space-x-10">
        <mat-card class="p-10">
            <mat-card-header>
                <mat-card-title>Card Title</mat-card-title>
                <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/bolt.gif" alt="Card Image"  height="400" width="400">
            <mat-card-content>
                <p>
                    Card content goes here.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Action 1</button>
                <button mat-button>Action 2</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="p-10">
            <mat-card-header>
                <mat-card-title>Card Title</mat-card-title>
                <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/bolt.gif" alt="Card Image" height="400" width="400">
            <mat-card-content>
                <p>
                    Card content goes here.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Action 1</button>
                <button mat-button>Action 2</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="p-10">
            <mat-card-header>
                <mat-card-title>Card Title</mat-card-title>
                <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/images/bolt.gif" alt="Card Image"  height="400" width="400">
            <mat-card-content>
                <p>
                    Card content goes here.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Action 1</button>
                <button mat-button>Action 2</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
